* {
    margin: 0;
    font-family: cursive;
}

body {
    background: url("https://static.vecteezy.com/system/resources/previews/003/001/940/non_2x/soccer-stadium-concept-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background: rgba(226, 244, 248, 0.8);
    max-width: 70%;
    min-height: 85%;
    min-width: 400px;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 40%);
    border-radius: 0 0 20px 20px;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
    align-items: center;
}

.container .sub-container {
    flex: 1;
    text-align: center;
    margin: 0 4px;
    padding: 8px;
    color: #044883;
    box-shadow: 0px 0px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    font-size: 1.2em;
}

button.pause {
    margin: 4px;
    background: inherit;
    border: none;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
    border-radius: 8px 8px 16px 16px;
    height: 40px;
    width: 40px;
    color: #044883;
    cursor: pointer;
}

.container input {
    text-align: center;
    border: none;
    outline: none;
    color: #044883;
    border-radius: 16px;
    cursor: pointer;
    padding: 0 16px;
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 10%);
}

div#run-display>div {
    position: relative;
}

div#run-display>div::before {
    color: #044883;
    content: "Player";
    position: absolute;
    left: 25px;
    top: 5px;
}

div#run-display>div:first-child:before {
    content: "Computer";
}

#run-display input {
    margin: 0 16px;
    font-size: 7.5em;
    width: calc(100% - 32px);
    cursor: default;
    background: rgb(4 72 131 / 13%);
    padding: 0;
}

#run-button {
    padding: 12px;
    box-shadow: none;
    border-radius: 0;
    flex-wrap: wrap;
    gap: 12px;
}

#run-button input {
    background: rgb(4 72 131 / 20%);
    width: calc(33.33% - 10px);
    font-size: 4.5em;
    cursor: pointer;
    outline: none;
}

#run-button input.focus{
    background: #044883;
    color: #fff;
}

#run-button input.inactive {
    background: rgb(212 12 12 / 30%);
    color: #9a3618;
    cursor: default;
}

#last-balls {
    padding: 0;
    justify-content: flex-start;
    margin-bottom: 16px;
    height: 50px;
    align-items: center;
    display: flex;
}

#last-balls span {
    width: calc(100% / 6);
    font-size: 1.2em;
    border-right: 1px solid;
}

#last-balls span:last-child {
    border-right: none;
}

#last-balls span.wicket {
    color: #d40c0ced;
}

div#result {
    flex-direction: column;
    position: absolute;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    background: #5b7ccd;
    color: #044883;
    height: 0;
    z-index: 9;
}

div#result.active {
    height: 100%;
}

div#result.active.Pause {
    background: #5b7ccd;
    color: #044883;
}

div#result.active.Defeat{
    background: rgb(213 82 41);
    color: rgb(144 60 32);
}

div#result.active.Victory{
    background: #92bf3e;
    color: #4f7318;
}

div#result.active.Draw{
    background: #aaa;
    color: #000;
}

div#result .event {
    font-size: 7em;
    padding-top: 24px;
    text-shadow: 5px 5px 12px #101010;
}

div#result .margin {
    padding: 16px 0;
    font-size: 1.35em;
}

div#result input {
    font-size: 1.3em;
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 25px;
    color: inherit;
}

div#result.instructions {
    height: 100%;
    font-size: 1.3em;
}

div#result.instructions.hidden {
    height: 0;
    transition: 150ms ease;
}

div#result input:hover {
    box-shadow: 0px 0px 20px 0px;
    text-shadow: 0px 4px 4px;
    transform: scale(1.05);
}